#main-background{
  min-height: 20em;
  max-height: 28em;
  background-color: #485d7f;*/
  background-repeat: no-repeat;
  background-size: cover;
}

body{
background-color: #485d7f;
}

main{
  background-color: whitesmoke;
}

#main-background .container-fluid{
  margin-top: -1.5em;}

/*.navbar-nav{
  /*background-color: whitesmoke;
}*/


form {
    border: 3px solid #f1f1f1;
}

#logout{
  padding: 15px;
  border: 3px solid grey;
}

#logoutof{
  padding: 15px;
  border: 0;
}

#logouts{
  border: 1px solid whitesmoke;
  width:30%;
  float: right;
}

#compName{
  width:40%;
  display:inline-block;
  text-align: right;
}

#compName h1{
  font-family: garamond;
  font-size: 85px;
  color: grey;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#compName a{
  text-decoration: none;
}

#compName h4{
font-weight: bolder;
color:grey;
}


#front_login{
  /*background-color: #F2F3F4;*/
}

#front_login .container{
  max-width: 100%
}



#nav-section{
  margin-top: -4em;
  margin-bottom: 0;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.6;
    background-color: grey;
}

.registerbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #485d7f;
    border: 0;
    cursor: pointer;
}

.registerbtn:hover {
  opacity: 0.6;
  background-color: #485d7f;
}

.imgcontainer {
    /*text-align: center;*/
    margin:0;
    display: inline-block;
    width:55%;
}

.imgcontainer a{
  text-align: center;
}


img.Home {
    border-radius: 50%;
    margin-left: 25%;
    margin-right: 25%;
    vertical-align: inherit;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}




.nav {
  text-align: center;
  float: none;
}

.nav li {
  float: none;
  display: inline-block;
  padding: 0 1.5em;
  word-wrap: normal;
}

.nav-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35em;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#front-img-container{
  padding-top: 4em;
  padding-bottom: 4em;
}

#front-img{
  display: block;
  margin-left: 14%;
  margin-right: 10%;
  border-radius: 0.25em;
}

#About-US{
  padding-bottom: 4em;
}

#middle2{
  border: 0;
  text-align: center;
  /*margin-left: 25%;
  margin-right: 25%;*/
}

.bottom{
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 0;
  color: #CACFD2;
  margin-right:-0.5em;
}

#footer{
  border-top: 2px black solid;
}

.login-text{
  background-color: whitesmoke !important;
}

.Company{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.Company span{
  font-family: 'Montserrat', sans-serif;
  font-size:22px;
  font-weight: bolder;
}

#Contactbutton{
  margin: 1em;
  background-color: #485d7f;
  color:white;
  border: 1px black solid;
  padding: 10px;
  border-radius: 10%;
  font-weight: bold;
}

#Contactbutton:hover{
  background-color: #485d7f;
  opacity: .6;
  color: white;
  font-weight: bold;
}

textarea{
  margin-left: 10%;
  margin-right: 25%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

#registerPad{
  padding-bottom: 2em;
  padding-top: 2em;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
}
.signupbtn{
    background-color: blue;
    border-radius: 0 4px 4px 0;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

.cancelbtn:hover {
  background-color: #f44336;
  opacity: .6;
}

.signupbtn:hover{
  background-color: blue;
  opacity: .6;
}

.registerForm{
  border: 1px solid grey;
  border-radius: 2%;
}

.registerFields{
  margin-bottom: 3em !important;
}



#picDD{
float: right;
min-width: 50%;
text-align: center;
}

#specpics{
  margin:0 45% 0 5%;
}

#futures{
  color: black;
}

#table-striped{
  border: 2px solid black;
}

#table-striped-portfolio{
  border: 1px solid lightgrey;
  text-align: center;
  /*border-spacing: 2px;*/
}

#tableheaderRows{
  /*border: 1px solid black;*/
  /*border-bottom: 0;*/
}
